@import './vars';

button {
  font-size: 1rem; 
  min-width: 6em;
  padding: 0.5em;
  border-color: white;
  border-radius: $small;
  margin: 0.1em;
  background-color: $lighter-grey;
  cursor: pointer;
  font-family: $font-1;
}

button[disabled] {
  background-color: $lightest-grey;
  color: $lighter-grey;
}

.button--selected-true {
  background-color: $blue;
  color: white;
}
