@import './vars';

.header {
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: $medium-grey;
}

.header__wrapper {
  background-color: $light-grey;
  padding: 0.2rem;
  border: white 1px solid;
  border-radius: 0.2rem;
}

.header__title {
  background-color: $dark-grey;
  text-align: center;
  font-size: 2rem;
  border: white 1px solid;
  padding: 1rem;
  border-radius: 0.2rem;
}
