@import './vars';

.header {
  font-family: $font-2;
  display: flex;
  justify-content: center;
  padding: $small;
  position: sticky;
  top: 0;
  background-color: $medium-grey;
  border-bottom: $light-grey $small solid;
}

.header__wrapper {
  background-color: $light-grey;
  padding: $small;
  border: white 0.05em solid;
  border-radius: $small;
  max-width: 540px;
  width: 100%;
}

.header__title {
  background-color: $dark-grey;
  text-align: center;
  font-size: 2rem;
  border: white 0.05rem solid;
  padding: 1rem;
  border-radius: $small;
}

.header__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}