@import './vars';

.header {
  display: flex;
  justify-content: center;
  font-family: $font-2;
  padding: $medium;
  position: sticky;
  top: 0;
  background-color: $medium-grey;
  box-shadow: 0 $small $small $light-grey;
}

.header__wrapper {
  padding: $medium;
  max-width: 40em;
  width: 100%;
}

.header__title {
  background-color: $dark-grey;
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: $large;
  margin-bottom: $medium;
  box-shadow: 0 0 $small $lighter-grey;
}

.header__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $medium;
}
