@import './vars';

* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: $font-1;
  font-size: 1rem;
  line-height: 1.2;
  background-color: $medium-grey;
  color: #fff;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}
