@import './vars.scss';

.player {
  border-radius: 0.2rem;
  margin: 0.2rem;
  width: 7.5rem;
  background-color: $light-grey;
  min-height: 14.25rem;
}

.player--NO {
  background-color: #D3BC8D;
}

.player--NE {
  background-color: #C60C30;
}

.player--SEA {
  background-color: #69BE28;
}

.player--BAL {
  background-color: #241773;
}

.player--MIN {
  background-color: #4F2683;
}

.player--HOU {
  background-color: #A71930;
}

.player--KC {
  background-color: #E31837;
}

.player--SF {
  background-color: #AA0000;
}

.player--GB {
  background-color: #FFB612;
}

.player--TEN {
  background-color: #4B92DB;
}

.player__data {
  border: white 0.1rem solid;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: $medium-grey;
  min-height: 13.25rem;
}

.player__position {
  font-weight: bold;
}

.player__info {
  min-height: 9.3rem;
  margin: 0.4rem 0.2rem;
}

.player__image {
  display: flex;
  justify-content: center;
  height: 5rem;
}

.player__img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  object-position: top;
}

.player__name {
  font-size: 1.25rem;
  margin: 0.2rem 0rem;
}

.player__score-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.2rem;
}

.player__multiplier {
  padding: 0.2rem;
  border: white 0.05rem solid;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  color: black;
  visibility: hidden;
}

.player__multiplier--2 {
  background-color: silver;
  visibility: visible;
}

.player__multiplier--3 {
  background-color: gold;
  visibility: visible;
}

.player__multiplier--4 {
  background-color: #8c0404;
  color: white;
  visibility: visible;
}

.player__score {
  font-size: 1.5rem;
}
