@import './vars.scss';

.player {
  border: white 1px solid;
  border-radius: 0.2rem;
  margin: 0.2rem;
  width: 7.5rem;
  background-color: $light-grey;
}

.player__data {
  border: white 1px solid;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: $medium-grey;
  height: 10rem;
}

.player__position {
  font-weight: bold;
}

.player__info {
  min-height: 6.25rem;
  margin: 0.4rem 0.2rem;
}

.player__name {
  font-size: 1.5rem;
  margin: 0.2rem 0rem;
}

.player__score-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.2rem;
}

.player__multiplier {
  padding: 0.2rem;
  border: white 1px solid;
  border-radius: 0.2rem;
  font-size: 0.85rem;
  color: black;
}

.player__multiplier--None,
.player__multiplier--1 {
  visibility: hidden;
}

.player__multiplier--2 {
  background-color: silver;
}

.player__multiplier--3 {
  background-color: gold;
}

.player__multiplier--4 {
  background-color: #8c0404;
  color: white;
}

.player__score {
  font-size: 1.5rem;
}
