@import './vars';

.user {
  border-radius: $large;
  margin: $medium $small;
  background-color: $dark-grey;
  box-shadow: 0 0 0.1em 0.1em white;
  font-size: 1rem;
  padding: 1em;
  display: grid;
  align-items: center;
  grid-template-columns: 2.5em auto 4em;
  grid-template-rows: auto;
  grid-template-areas:
    "place username score"
    "roster roster roster";
}

.user__place {
  font-size: 1.5rem;
  font-family: $font-3;
  font-weight: 700;
  grid-area: place;
  justify-self: left;
}

.user__username {
  grid-area: username;
  font-weight: 100;
}

.user__score-type {
  display: none;
  font-size: 1.2rem;
  font-weight: 100;
  justify-self: end;
  margin-right: 4em;
}

.user__score-number {
  font-family: $font-3;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.1em 0.25em;
  grid-area: score;
  justify-self: end;
  width: 2.5em;
  text-align: right;
  box-shadow: 0 0 0.1em 0.05em $yellow;
  border-radius: $small;
}

.user__roster {
  margin-top: $small;
  grid-area: roster;
}

@media (min-width: 450px) {
  .user {
    grid-template-columns: 2.5em auto 12em;
  }

  .user__place,
  .user__score-number {
    font-size: 1.8rem;
    text-align: left;
  }

  .user__username {
    font-size: 1.7rem;
  }

  .user__score-type {
    display: block;
    grid-area: score;
  }

  .user__roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 100%;
    gap: $medium;
    margin-top: 1em;
  }
}
