$lightest-grey: #dddddd;
$lighter-grey: #909090;
$light-grey: #505050;
$medium-grey: #282828;
$dark-grey:  #101010;

$blue: #0965BB;
$yellow: #F4D03F;

$small: 0.2em;
$medium: 0.5em;
$large: 1em;

$font-1: 'Poppins', sans-serif;
$font-2: 'Staatliches', cursive;
$font-3: 'Kameron', serif;